# App
APP_NAME=loms-service
APP_VERSION=v1.0.0

# Logger
LOGGER_LEVEL=debug
LOGGER_PRETTY_CONSOLE=true

# HTTP
HTTP_PORT=8080

# GRPC
GRPC_PORT=50051

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5432
# POSTGRES_HOST=localhost
POSTGRES_HOST=postgres
POSTGRES_DB_NAME=postgres

# Migrate
MIGRATE_PATH=./migration/postgres
DB_MIGRATE_URL=postgres://user:pass@localhost:5432/postgres?sslmode=disable

# Kafka
#KAFKA_WRITER_ADDR=localhost:9094
KAFKA_WRITER_ADDR=kafka:9092

# Kafka outbox
OUTBOX_KAFKA_WORKER_LIMIT=10
OUTBOX_KAFKA_WORKER_DURATION=5